<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<dict>
		<key>iHandyDesktop</key>
		<array>
			<dict>
				<key>ClassName</key>
				<string>HSQuickSwitchAppletView</string>
				<key>Data</key>
				<dict>
					<key>AppGroups</key>
					<array>
						<dict>
							<key>AppGroupFreeAppURL</key>
							<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=332064280&amp;mt=8</string>
							<key>AppGroupIconImage</key>
							<string>quickswitch_icon_alarmclock_pro_new.png</string>
							<key>AppGroupIconImageSelected</key>
							<string>quickswitch_icon_alarmclock_pro_in_new.png</string>
							<key>AppGroupName</key>
							<string>Alarm Clock</string>
							<key>Apps</key>
							<array>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_alarmclock_pro_new.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_alarmclock_pro_in_new.png</string>
									<key>Name</key>
									<string>Alarm Clock</string>
									<key>PaidApp</key>
									<true/>
									<key>URLScheme</key>
									<string>ihandyalarmclockpro</string>
								</dict>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_alarmclock_free_new.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_alarmclock_free_in_new.png</string>
									<key>Name</key>
									<string>Alarm Clock</string>
									<key>PaidApp</key>
									<false/>
									<key>URLScheme</key>
									<string>ihandyalarmclock</string>
								</dict>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_alarmclock_classic_new.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_alarmclock_classic_in_new.png</string>
									<key>Name</key>
									<string>Alarm Clock</string>
									<key>PaidApp</key>
									<false/>
									<key>URLScheme</key>
									<string>ihandyalarmclockfreeadfree</string>
								</dict>
							</array>
							<key>RegionException</key>
							<array/>
							<key>RegionFilter</key>
							<array/>
						</dict>
						<dict>
							<key>AppGroupFreeAppURL</key>
							<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=446067710&amp;mt=8</string>
							<key>AppGroupIconImage</key>
							<string>quickswitch_icon_barcode_pro.png</string>
							<key>AppGroupIconImageSelected</key>
							<string>quickswitch_icon_barcode_pro_in.png</string>
							<key>AppGroupName</key>
							<string>Barcode Scan</string>
							<key>Apps</key>
							<array>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_barcode_pro.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_barcode_pro_in.png</string>
									<key>Name</key>
									<string>Barcode &amp; QR</string>
									<key>PaidApp</key>
									<true/>
									<key>URLScheme</key>
									<string>ihandybarcodepro</string>
								</dict>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_barcode_free.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_barcode_free_in.png</string>
									<key>Name</key>
									<string>Barcode Scan</string>
									<key>PaidApp</key>
									<false/>
									<key>URLScheme</key>
									<string>ihandybarcodefree</string>
								</dict>
							</array>
							<key>RegionException</key>
							<array>
								<string>zh_CN</string>
							</array>
							<key>RegionFilter</key>
							<array/>
						</dict>
						<dict>
							<key>AppGroupFreeAppURL</key>
							<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=368504562&amp;mt=8</string>
							<key>AppGroupIconImage</key>
							<string>quickswitch_icon_flashlight_pro.png</string>
							<key>AppGroupIconImageSelected</key>
							<string>quickswitch_icon_flashlight_pro_in.png</string>
							<key>AppGroupName</key>
							<string>Flashlight</string>
							<key>Apps</key>
							<array>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_flashlight_pro.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_flashlight_pro_in.png</string>
									<key>Name</key>
									<string>Flashlight</string>
									<key>PaidApp</key>
									<true/>
									<key>URLScheme</key>
									<string>ihandyflashlightpro</string>
								</dict>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_flashlight_free.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_flashlight_free_in.png</string>
									<key>Name</key>
									<string>Flashlight</string>
									<key>PaidApp</key>
									<false/>
									<key>URLScheme</key>
									<string>ihandyflashlightfree</string>
								</dict>
							</array>
							<key>RegionException</key>
							<array/>
							<key>RegionFilter</key>
							<array/>
						</dict>
						<dict>
							<key>AppGroupFreeAppURL</key>
							<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=381471023&amp;mt=8</string>
							<key>AppGroupIconImage</key>
							<string>quickswitch_icon_flashlight_mini.png</string>
							<key>AppGroupIconImageSelected</key>
							<string>quickswitch_icon_flashlight_mini_in.png</string>
							<key>AppGroupName</key>
							<string>Flashlight Mini</string>
							<key>Apps</key>
							<array>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_flashlight_mini.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_flashlight_mini_in.png</string>
									<key>Name</key>
									<string>Flashlight Mini</string>
									<key>PaidApp</key>
									<true/>
									<key>URLScheme</key>
									<string>ihandyflashlightledpro</string>
								</dict>
							</array>
							<key>RegionException</key>
							<array/>
							<key>RegionFilter</key>
							<array/>
						</dict>
						<dict>
							<key>AppGroupFreeAppURL</key>
							<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=386272641&amp;mt=8</string>
							<key>AppGroupIconImage</key>
							<string>quickswitch_icon_translator_pro.png</string>
							<key>AppGroupIconImageSelected</key>
							<string>quickswitch_icon_translator_pro_in.png</string>
							<key>AppGroupName</key>
							<string>Translator</string>
							<key>Apps</key>
							<array>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_translator_pro.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_translator_pro_in.png</string>
									<key>Name</key>
									<string>Translator</string>
									<key>PaidApp</key>
									<true/>
									<key>URLScheme</key>
									<string>ihandytranslatorpro</string>
								</dict>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_translator_free.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_translator_free_in.png</string>
									<key>Name</key>
									<string>Translator</string>
									<key>PaidApp</key>
									<false/>
									<key>URLScheme</key>
									<string>ihandytranslatorfree</string>
								</dict>
							</array>
							<key>RegionException</key>
							<array/>
							<key>RegionFilter</key>
							<array/>
						</dict>
						<dict>
							<key>AppGroupFreeAppURL</key>
							<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=435668824&amp;mt=8</string>
							<key>AppGroupIconImage</key>
							<string>quickswitch_icon_weatherclock_pro.png</string>
							<key>AppGroupIconImageSelected</key>
							<string>quickswitch_icon_weatherclock_pro_in.png</string>
							<key>AppGroupName</key>
							<string>Weather Clock</string>
							<key>Apps</key>
							<array>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_weatherclock_pro.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_weatherclock_pro_in.png</string>
									<key>Name</key>
									<string>Weather Clock</string>
									<key>PaidApp</key>
									<true/>
									<key>URLScheme</key>
									<string>ihandyclockweatherpro</string>
								</dict>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_weatherclock_free.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_weatherclock_free_in.png</string>
									<key>Name</key>
									<string>Weather Clock</string>
									<key>PaidApp</key>
									<false/>
									<key>URLScheme</key>
									<string>ihandyclockweatherfree</string>
								</dict>
							</array>
							<key>RegionException</key>
							<array/>
							<key>RegionFilter</key>
							<array/>
						</dict>
						<dict>
							<key>AppGroupFreeAppURL</key>
							<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=299852753&amp;mt=8</string>
							<key>AppGroupIconImage</key>
							<string>quickswitch_icon_carpenter.png</string>
							<key>AppGroupIconImageSelected</key>
							<string>quickswitch_icon_carpenter_in.png</string>
							<key>AppGroupName</key>
							<string>Carpenter</string>
							<key>Apps</key>
							<array>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_carpenter.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_carpenter_in.png</string>
									<key>Name</key>
									<string>Carpenter</string>
									<key>PaidApp</key>
									<true/>
									<key>URLScheme</key>
									<string>ihandycarpenter</string>
								</dict>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_level.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_level_in.png</string>
									<key>Name</key>
									<string>Level</string>
									<key>PaidApp</key>
									<false/>
									<key>URLScheme</key>
									<string>ihandycarpenterlevel</string>
								</dict>
							</array>
							<key>RegionException</key>
							<array/>
							<key>RegionFilter</key>
							<array/>
						</dict>
						<dict>
							<key>AppGroupFreeAppURL</key>
							<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=326819555&amp;mt=8</string>
							<key>AppGroupIconImage</key>
							<string>quickswitch_icon_battery_pro.png</string>
							<key>AppGroupIconImageSelected</key>
							<string>quickswitch_icon_battery_pro_in.png</string>
							<key>AppGroupName</key>
							<string>Battery Master</string>
							<key>Apps</key>
							<array>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_battery_pro.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_battery_pro_in.png</string>
									<key>Name</key>
									<string>Battery Master</string>
									<key>PaidApp</key>
									<true/>
									<key>URLScheme</key>
									<string>ihandybattery</string>
								</dict>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_battery_free.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_battery_free_in.png</string>
									<key>Name</key>
									<string>Battery Master</string>
									<key>PaidApp</key>
									<false/>
									<key>URLScheme</key>
									<string>ihandybatteryfree</string>
								</dict>
							</array>
							<key>RegionException</key>
							<array/>
							<key>RegionFilter</key>
							<array/>
						</dict>
						<dict>
							<key>AppGroupFreeAppURL</key>
							<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=483336864&amp;mt=8</string>
							<key>AppGroupIconImage</key>
							<string>quickswitch_icon_qrcode_free.png</string>
							<key>AppGroupIconImageSelected</key>
							<string>quickswitch_icon_qrcode_free_in.png</string>
							<key>AppGroupName</key>
							<string>QR Code Scan</string>
							<key>Apps</key>
							<array>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_qrcode_free.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_qrcode_free_in.png</string>
									<key>Name</key>
									<string>QR Code Scan</string>
									<key>PaidApp</key>
									<true/>
									<key>URLScheme</key>
									<string>ihandybarcodeqrfree</string>
								</dict>
							</array>
							<key>RegionException</key>
							<array/>
							<key>RegionFilter</key>
							<array/>
						</dict>
						<dict>
							<key>AppGroupFreeAppURL</key>
							<string>http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=330270120&amp;mt=8</string>
							<key>AppGroupIconImage</key>
							<string>quickswitch_icon_tip_pro.png</string>
							<key>AppGroupIconImageSelected</key>
							<string>quickswitch_icon_tip_pro_in.png</string>
							<key>AppGroupName</key>
							<string>Tip Calculator</string>
							<key>Apps</key>
							<array>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_tip_pro.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_tip_pro_in.png</string>
									<key>Name</key>
									<string>Tip Calculator</string>
									<key>PaidApp</key>
									<true/>
									<key>URLScheme</key>
									<string>ihandytipcalculator</string>
								</dict>
								<dict>
									<key>IconImage</key>
									<string>quickswitch_icon_tip_free.png</string>
									<key>IconImageSelected</key>
									<string>quickswitch_icon_tip_free_in.png</string>
									<key>Name</key>
									<string>Tip Calculator</string>
									<key>PaidApp</key>
									<false/>
									<key>URLScheme</key>
									<string>ihandytipcalculatorfree</string>
								</dict>
							</array>
							<key>RegionException</key>
							<array>
								<string>zh_CN</string>
								<string>ko_KR</string>
								<string>ja_JP</string>
							</array>
							<key>RegionFilter</key>
							<array/>
						</dict>
					</array>
					<key>Properties</key>
					<dict/>
				</dict>
			</dict>
		</array>
	</dict>
	<key>MinimumUpdateInterval</key>
	<integer>0</integer>
</dict>
</plist>
